body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: #666666;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 60%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main>section {
  width: 50%;
  display: inline-block;
  height: 600px;
  overflow: scroll;
}

header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 25%;
  margin-bottom: 4px;
}

.notifications {
  margin: 1%;
  display: inline-block;
  height: 100%;
  width: 55%;
}

header>img {
  margin: 1%;
  display: inline-block;
  max-height: 100%;
}

.notifications>* {
  display: inline-block;
}

.notifications>div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.currently-playing {
  height: 25%;
  margin-top: 4px;
}

.currently-playing>p:nth-child(1) {
  line-height: 5.5rem;
}

.currently-playing>p:nth-child(1)>i {}

.tracks {
  height: 85%;
  overflow: scroll;
}

p {
  margin: 0;
  text-align: start;
  font-size: 1rem;
  line-height: 2rem;
  padding-left: .5rem;
}

.tracks>p {
  font-size: 1rem;
  line-height: 2rem;
}

.tracks>p:nth-child(odd), .playlist-container>p:nth-child(odd), .currently-playing>p:nth-child(even) {
  background-color: #f5f5f5;
}

.tracks>p:nth-child(even), .playlist-container>p:nth-child(even), .currently-playing>p:nth-child(odd) {
  background-color: #eaeaea;
}

footer {
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
  border: black solid 1px;
  display: flex;
  background-color: #f0f2f3;
}

audio {
  width: 100%;
  display: inline-block;
}

footer>button {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: none;
  outline: none;
  background-color: #f0f2f3;
}

footer>button>img {
  width: 15px;
  height: 15px;
}

audio::-webkit-media-controls-play-button {
  display: none;
}