body {
  display: flex;
  justify-content: center;
}

.loader {
  margin: 200px auto 0;
  width: 70%;
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}