.container {
  display: flex;
  width: 96%;
  flex-wrap: wrap;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  padding: 1%;
  margin: 1%;
}

.thumbnails {
  display: inline-block;
  align-content: space-between;
  text-align: center;
  width: 100%;
}

.img {
  display: inline-block;
  margin: 1%;
  padding: 1%;
  width: 8%;
  height: 60px;
  background-color: blueviolet;
  text-align: center;
}