body {
  background-color: pink;
  align-items: flex-start;
}

.thumbnails {
  display: inline-block;
  /* align-content: space-between; */
  text-align: center;
  width: 100%;
}

img {
  display: inline-block;
  margin: 1%;
  width: 20%;
  height: 20%;
}