body {
  background-color: pink;
  align-items: center;
}

.thumbnails {
  display: inline-block;
  text-align: center;
  width: 100%;
}

img {
  border: 2px purple solid;
  border-radius: 10%;
  margin: 1%;
  width: 200px;
  height: 200px;
}