.wrapper {
  background-color: aliceblue;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}

.wrapper:after {
  content: "";
  display: block;
  clear: both;
}

#banner {
  max-width: 900px;
  overflow: hidden;
  margin: 1%;
  position: relative;
  height: 250px;
  width: 100%;
}

#banner h2 {
  position: absolute;
  top: 80px;
  margin: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  letter-spacing: 3em;
  font-family: sans-serif;
}

section, aside {
  float: left;
  width: 46%;
  margin: 1%;
  padding: 1%;
  background-color: #f2f2f2;
}

button {
  width: 400px;
  height: 30px;
  background-color: mediumblue;
  color: white;
  font-weight: bold;
}

.article {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.post {
  display: block;
  margin: 10px;
  padding: 10px;
  width: 90%;
  border: solid 1px purple;
  line-height: 1.4em;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


