main {
  display: flex;
}

main>* {
  width: 200px;
  height: 200px;
}

.green {
  background-color: #62d135;
  flex-grow: 1;
}

.yellow {
  background-color: #fad149;
  flex-grow: 3;
}

.purple {
  background-color: #c150f0;
  flex-grow: 1;
}

@media screen and (max-width: 800px) {
  main {
    flex-direction: column;
  }
  main>* {
    width: 100%;
  }
}