body {
  display: flex;
  width: 100%;
  background-color: darkgray;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
  letter-spacing: 2px;
  width: 80%;
}

form {
  background-color: white;
  border: 3px solid #f1f1f1;
  width: 70%;
  justify-content: center;
}

.form-example, p {
  padding: 10px;
  font-size: 20px;
}

.form-example {
  display: block;
  padding: 10px;
  margin: 10px;
}

input[type=text], input[type=password] {
  height: 30px;
  width: 90%;
  margin: 10px;
  border-radius: 3px;
}

input[id=password] {
  background: url(./img.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}


input:focus {
  outline: green;
  border: 1px solid green;
}

label {
  display: block;
  padding: 10px;
}

.forgot {
  color: grey;
  font-size: 12px;
  letter-spacing: 0.1;
  text-align: end;
  height: 20px;
  width: 90%;
  margin: 10px;
}

input[type=submit] {
  padding: 10px;
  width: 120px;
  height: 50px;
  text-align: center;
  background-color: black;
  color: white;
  text-emphasis-style: bold;
  border-radius: 40px;
}

div {
  justify-content: center;
  text-align: left;
}