body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: .1rem;
  background-image: url('https://wallpapertag.com/wallpaper/full/7/4/d/146610-large-star-wars-star-background-1920x1080.jpg');
  background-size: 100%;
}

main {
  display: flex;
  height: 40vh;
  justify-content: space-around;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  background-color: red;
  padding: 1%;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  background-color: rgba(242, 241, 239, 0.8);
  margin: auto;
  max-width: 30%;
}

form>* {
  display: block;
  margin: 1%;
}

.container {
  display: inline-block;
  width: 30%;
  height: 80%;
  margin: 20px;
  padding: 10px;
  border: solid 1px black;
  background-color: rgba(242, 241, 239, 0.8);
}

.header {
  display: flex;
  padding: 20px;
  color: yellow;
  justify-content: center;
}