.container {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.article {
  display: inline-block;
  width: 80%;
  margin: 10px;
  padding: 10px;
  line-height: 2em;
  border: solid black 2px;
  background-color: whitesmoke;
  font-family: Helvetica;
  text-align: justify;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}