main {
  display: block;
  text-align: center;
  font-family: Helvetica;
}

h1 {
  text-transform: uppercase;
}

article {
  display: inline-block;
  width: 80%;
  margin: 10px;
  padding: 10px;
  line-height: 2em;
  border: solid black 2px;
  background-color: whitesmoke;
  text-align: justify;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}