.container {
  display: flex;
  background: yellow;
  height: 500px;
  padding-left: 0;
  align-items: center;
  justify-content: flex-end;
}

.purple {
  display: block;
  background: purple;
  width: 100px;
  height: 100px;
  margin-right: 5px;
  line-height: 50px;
}