body {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  margin: 0;
  background-color: black;
}

.small {
  background-color: darkmagenta;
}

.big {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgreen;
}

.yellow {
  height: 60%;
  width: 60%;
  background-color: yellow;
}

#one {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#two {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#three {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#six {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}