body {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

nav {
  align-items: center;
  background-color: #a145f6;
  display: flex;
  height: 10%;
  width: 100vw;
  margin-bottom: 1%;
}

.blue {
  background-color: #70e7fc;
  height: 40%;
  margin: 10px;
  width: 10%;
}

.blue:nth-child(1) {
  margin-left: 5%;
}

main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, auto);
  height: 90vh;
  width: 90%;
}

.grey {
  background-color: #ccc;
  grid-column: 1 / 4;
  grid-row: 10 / 11;
  margin-bottom: 1%;
}

.green {
  background-color: #77cf3e;
  grid-column: 1 / 2;
  grid-row: 1 / 10;
}

.yellow {
  background-color: #f9d651;
  grid-column: 2 / 4;
  grid-row: 1 / 10;
}