body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #666666;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  width: 100vw;
  height: 100vh;
}

body>section:nth-child(1) {
  display: grid;
  grid-column: 5 / 11;
  grid-row: 3 / 16;
  background-color: red;
}

body>section:nth-child(2) {
  grid-column: 11 / 17;
  grid-row: 3 / 16;
  background-color: #fff;
}

.currently-playing {
  grid-row: 3 / span 2;
  background-color: blue;
  display: flex;
}

.currently-playing>p {
  display: block;
  float: left;
  margin: 0;
}

.currently-playing>i {
  float: right;
}

.currently-playing::after {
  clear: both;
}

.tracks {
  grid-row: 6 / 16;
}

footer {
  grid-column: 5 / 17;
  grid-row: 16 / 19;
  background-color: #f0f2f3;
  color: white;
  border: black solid 1px;
  display: flex;
}

audio {
  width: 100%;
  display: inline-block;
  margin: auto;
  background-color: transparent;
  color: transparent;
}

audio::-webkit-media-controls-play-button {
  display: none;
}

button {
  /* margin: auto; */
  max-height: 2em;
}

.rewind {
  background-image: url('./img/rewind.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.play {
  background-image: url('./img/play.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.forward {
  background-image: url('./img/forward.svg');
  background-repeat: no-repeat;
  background-position: center center;
}