.container {
  display: flex;
  width: 96%;
  height: 400px;
  flex-wrap: wrap;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.mainImg {
  display: block;
  width: 600px;
  height: 400px;
  align-items: center;
}

.container .thumbnails {
  /* height: 100px; */
  width: 100%;
  align-content: space-around;
  justify-content: center;
  background-color: whitesmoke;
}

.thumbnails {
  display: inline-block;
  align-content: space-between;
  text-align: center;
  height: 300px;
}

img {
  margin: 1%;
  padding: 1%;
  width: 70px;
  height: 60px;
  text-align: center;
}

.arrow img {
  height: 30px;
  width: 30px;
  padding: 4px;
}

.leftbutton {

}
.rightbutton {
  -webkit-transform: rotate(180deg);
}