body {
  margin: 0;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  height: 80px;
  line-height: 80px;
  width: 100%;
  background-color: black;
  text-align: left;
  color: deeppink;
  padding-left: 10%;
  font-size: 20px;
}

.container>* {
  padding-left: 10%;
  padding-right: 10%;
}

.title {
  padding: 4px;
  height: 20px;
  line-height: 20px;
  max-width: fit-content;
  font-weight: 900;
  margin-bottom: 8px;
}

.titletext, .posttext, .posts {
  border: solid 1px deeppink;
  padding: 4px;
}

.posttext, .posts {
  width: 100%;
}

.posts {
  margin-bottom: 8px;
}

.titletext {
  height: 20px;
}

.button {
  display: block;
  min-height: 40px;
  min-width: 80px;
  border-radius: 10px;
  background-color: deeppink;
  color: black;
  font-weight: 900;
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 16px;
  padding: 12px;
}