body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 80%;
  height: 100vh;
}

.header-container {
  background-color: purple;
  padding: 20px;
  position: sticky;
  top: 0;
}

.cyan {
  display: inline-block;
  background: cyan;
  margin-right: 5px;
  height: 60px;
  width: 80px;
}

.container {
  display: flex;
  height: 100%;
}

.yellow {
  background-color: yellow;
  flex-grow: 3;
}

.green {
  background-color: green;
  flex-grow: 1;
}